## mysql 설정 참고 파일

[mysqld]
default-time-zone=Asia/Seoul
datadir=/data/mysql
socket=/data/mysql/mysql.sock
performance_schema = ON
slow_query_log = ON
long_query_time = 10
log-slow-verbosity = 'query_plan,innodb'
slow_query_log_file = /data/log/mysql_log/slow/mysvc01-slow.log
max_allowed_packet=100M
skip-external-locking
key_buffer_size = 384M
table_open_cache = 512
sort_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 8M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
query_cache_size = 32M


#dns query
skip-name-resolve


###chracter
character-set-client-handshake=FALSE
init_connect = SET collation_connection = utf8_general_ci
init_connect = SET NAMES utf8
character-set-server = utf8
collation-server = utf8_general_ci


#connection
max_connections = 1000
max_connect_errors = 1000
wait_timeout= 10000

### MyISAM Spectific options
##default-storage-engine = myisam
key_buffer_size = 32M
bulk_insert_buffer_size = 64M
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1


### INNODB Spectific options
default-storage-engine = InnoDB
#skip-innodb
#innodb_additional_mem_pool_size = 16M
innodb_data_file_path = ibdata1:100M:autoextend
innodb_write_io_threads = 16
innodb_read_io_threads = 16
innodb_thread_concurrency = 16
innodb_flush_log_at_trx_commit = 1
innodb_log_files_in_group = 3
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 120
innodb_buffer_pool_size = 16G
innodb_buffer_pool_instances = 8
innodb_buffer_pool_chunk_size = 512M
innodb_log_file_size = 1G
innodb_log_buffer_size = 100MB




[client]
socket=/data/mysql/mysql.sock


[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M
